body {
    background-image: url(../public/Bg.svg);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
  text-align: center;
}

.title, .fortune-display {
  color: #ffff;
}   

.submit-button{
  background-color: #ffff;
  border: none;
  border-radius: 15px;
  color: #000000;
  padding: 10px;
}

.links-to-socialmedia{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.facebook-submit {
  background-color: #ffff;
  color: #000000;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.links-box, a{
  display: flex;
  margin: 5px;
}
